header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #242438, #3a3a5f);
    height: 64px;
}

ul{
    display: flex;
    list-style: none;
    gap:10px;
    cursor: pointer;
    
}
li{
    font-size: 20px;
    font-weight: 600;
}
li a{
    text-decoration: none;
    color:black;
}